body{
    margin: 0px;
    color: #F5EFED;
    background: rgb(253, 253, 253);
}

p{
    font-family: 'Montserrat', sans-serif;
}

.titre{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 60px;
    color: rgb(39, 39, 39);
    margin-top: 0px;
}

.soustitre{
    font-family: 'B612 Mono', monospace;
    font-size: 32px;
    color: rgb(28, 52, 78);
    margin-top: -40px;
}

#headerprincipal{
    width: 100%;
    height: 100vh;
    background-image: url("medias/images/EspaceSitePerso.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#headerprincipal div{
    padding-top: 40vh;
    margin-left: 5%;
}

#headerprincipal h1{
    margin-top: 0px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 85px;
    margin-left: -16px;
}

#headerprincipal p{
    margin-top: -35px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    color: rgb(99, 145, 185);
}

#presentation{
    background: rgb(253, 253, 253);
    padding: 1px;
}

#presentation p{
    font-size: 28px;
    color: #35567C;
    text-align: justify;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-right: 10%;
    margin-left: 10%;
}

#presentation div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 7%;
}

#presentation article{
    width: 70%;
}

#presentation aside{
    width: 25%;
    margin-bottom: 3%;
    margin-top: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; 
}

#presentation section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; 
    margin-top: 25px;
    margin-bottom: 25px;
}

#iconesPresentationNav{
    color: rgb(102, 158, 207);
    font-size: 100px;
    transition: 0.3s;
    z-index: 3;
    text-align: center;
}

#presentation aside section:hover #iconesPresentationNav{
    color: rgba(128, 179, 223, 0);
    transform: scale(0.1);
}

.textePresentationNav{
    font-size: 28px;
    color: rgba(53, 86, 124, 0);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    margin-top: -3px;
    opacity: 0;
    text-decoration: none;
    position: absolute;
}

#presentation aside section:hover .textePresentationNav{
    color: #35567C;
    opacity: 1;
    cursor: pointer;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(253, 253, 253);
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    z-index: 100;

    position: sticky;
    top: 0;
    border: 1px red hidden;
    box-shadow: 1px 2px 5px 0 rgb(245, 245, 245);
}

nav section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav section .material-icons{
    color: rgb(102, 158, 207);
    font-size: 50px;
    transition: 0.3s;
    z-index: 3;
}

nav section:hover .material-icons{
    color: rgba(128, 179, 223, 0);
    transform: scale(0.1);
}

nav section .textenav{
    font-size: 23px;
    color: rgba(53, 86, 124, 0);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    position: absolute;
    margin-top: -3px;
    opacity: 0;
    text-decoration: none;
}

nav section:hover .textenav{
    color: #35567C;
    opacity: 1;
    cursor: pointer;
}

#parcours{
    margin-right: 10%;
    margin-left: 10%;
    border: red hidden 1px;
    padding-bottom: 5%;
}

#parcours div{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#parcours section{
    width: 45%;
}

#parcours article{
    border: hidden blue 1px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 39, 39);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-top: 5%;
}

#parcours article aside h2{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }

#parcours article aside h1{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: #35567C;
}

#parcours article aside h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
}

#parcours article aside h4{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
    color: rgb(85, 85, 85);
}

#parcours article aside a{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
    color: rgb(85, 85, 85);
}

#iconaside{
   z-index: 0;
   display: inline;
   color: #dc4437;
}

#parcours article aside img{
    height: 12vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.asidetexte{
    width: 70%;
    border: blue hidden 1px;
}

.asideimg{
    width: 30%;
    border: green hidden 1px;
    overflow: hidden;
}

#comp{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    border: red hidden 1px;
    background: rgb(247, 247, 247);
}

#comp h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: normal;
    font-style: italic;
    color: rgb(39, 39, 39);
}

#comp h4{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    margin-left: 10px;
    color: rgb(48, 48, 48);
    padding-bottom: 45px;
    margin-bottom: 0px;
    margin-top: 80px;
    margin-left: 8px;
}

#comp aside{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
}

#comp section{
    width: 45%;
    margin-bottom: 8%;
}

#comp section article p{
    font-size: 20px;
    color: rgb(39, 39, 39);
    font-family: 'Montserrat', sans-serif;
}

.comptimeline{
    border: hidden green 1px;
    margin-top: 7%;
}

.timeline{
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: left;
    border: red hidden 1px;
    margin-left: -40px;

    transform: scale(1.05);
}

.timeline:before{
    content: '';
    position: absolute;
    width: 70%;
    top: 64%;
    left: 10%;
    height: 3px;
    margin-top: -13px;
    background: rgb(85, 85, 85);
}

.event{
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 1%;
    margin-left: 11%;
    display: inline-block;
    background: rgb(253, 253, 253);
    vertical-align: middle;
    border-radius: 50%;
    border: solid rgb(85, 85, 85) 3px;
}

.detail{
    position: absolute;
    line-height: 1em;
    white-space: nowrap;
    left: 50%;
    
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(39, 39, 39);
    font-family: 'Montserrat', sans-serif;
}

.lien{
    text-decoration: underline;
    color: rgb(31, 31, 31);
    transition: 0.3s;
}

.lien:hover{
    cursor: pointer;
    color: rgb(102, 158, 207);
}

#comp .down h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-left: 10px;
    color: #35567C;
    margin-bottom: 0px;
    margin-top: -5px;
    font-weight: normal;
    font-style: italic;
    width: 300px;
}

#comp .up h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-left: 10px;
    color: #35567C;
    margin-bottom: 0px;
    margin-top: -110px;
    font-weight: normal;
    font-style: italic;
}

.event:before{ 
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -2px;
    width: 3px;
    background: rgb(128, 179, 223);
    height: 20px;
    z-index: -1;
}

.event.up:before{
    top: -100%;
}

.event.down:before{
    top: 100%;
}

.up .detail{
    top: -50px;
}

.down .detail{
    bottom: -50px;
}

.languestitre h4{
    margin-top: 0px;
    margin-bottom: 0px;
    color: red;
}

.complangues{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: flex-start;

    border: blue hidden 1px;
    padding-bottom: 5%;
    background: rgb(247, 247, 247);
    padding-right: 0;
    padding-left: 0;
}

.complangues section{
    width: 100%;
}

.complangues article{
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    border: red hidden 1px;
}

.complangues article img{
    height: 11vw;
}

.complangues article ul{
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 39, 39);
    font-size: 20px;
    align-self: stretch;
}

#projets{
    margin-right: 10%;
    margin-left: 10%;
    border: red hidden 1px;
    padding-bottom: 10%;
    margin-top: 3%;
}

#panel, #flip{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);
    margin-top: 0;
    margin-bottom: 0;
}

#flip:hover{
    cursor: pointer;
}

#panel{
    height: 80vh;
    display: none;
    background-image: url("medias/bg/temaillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#flip p{
    font-family: 'B612 Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
}

#panel2, #flip2{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip2:hover{
    cursor: pointer;
}

#flip2 p{
    font-family: 'B612 Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
}

#panel2{
    height: 80vh;
    display: none;
    background-image: url("medias/bg/StarLightCover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel3, #flip3{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip3:hover{
    cursor: pointer;
}

#flip3 p{
    font-family: 'B612 Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
}

#panel3{
    height: 80vh;
    display: none;
    background-image: url("medias/bg/lasrillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel4, #flip4{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip4:hover{
    cursor: pointer;
}

#flip4 p{
    font-family: 'B612 Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
}

#panel4{
    height: 83vh;
    display: none;
    background-image: url("medias/bg/lasrillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel5, #flip5{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip5:hover{
    cursor: pointer;
}

#flip5 p{
    font-family: 'B612 Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
}

#panel5{
    height: 80vh;
    display: none;
    background-image: url("medias/bg/sowBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel6, #flip6{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip6:hover{
    cursor: pointer;
}

#flip6 p{
    font-family: 'B612 Mono', monospace;
    color: rgb(240, 240, 240);
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 12px;
}

#panel6{
    height: 80vh;
    display: none;
    background-image: url("medias/bg/cppBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.panelGlobal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    flex-wrap: wrap;

    border: red hidden 3px;
    height: 80vh;
}

.panelBoxTexte{
    width: 70%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    flex-wrap: wrap;
    border: green hidden 3px;
}

.panelBoxTexte p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(223, 223, 223);
    text-align: justify;
}

.panelBoxDescrip{
    width: 100%;
}

.panelBoxDescrip p{
    width: 100%;
    font-size: 25px;
}

.panelBoxListe{
    width: 45%;
    align-self: flex-start;
}

.panelBoxListe h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: rgb(223, 223, 223);
}

.panelBoxListe ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: rgb(212, 212, 212);
    text-align: justify;
}

.listeob li{
    margin-bottom: 10px;
}

.listeLongue li{
    border: red hidden 1px;
    width: 45%;
	float: left;
}

/* */

.panelBoxAutre{
    width: 20%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    flex-wrap: wrap;
    border: blue hidden 3px;
}

.panelBoxAutre section{
    margin-top: 3%;
    margin-bottom: 3%;
}

.panelBoxImg{
    width: 100%;
}

.panelBoxImg img{
    height: 15vw;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.panelBoxBouton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#temaBouton{
    background-color: #ffffff;
    border: solid 2px rgb(167, 42, 42);
    color: black;
    transition: 0.3s
}

#temaBouton:hover{
    background-color: rgb(167, 42, 42);
    border: solid 2px #ffffff;
    color: white;
}

#starlightBouton{
    background-color: #eeeeee;
    border: solid 2px rgb(29, 29, 29);
    color: black;
    transition: 0.3s
}

#starlightBouton:hover{
    background-color: rgb(17, 17, 17);
    border: solid 2px #e6e6e6;
    color: white;
}

#lasrBouton{
    background-color: #6aabe9;
    border: solid 2px #6aabe9;
    color: white;
    transition: 0.3s;
}

#lasrBouton:hover{
    background-color: white;
    color: black;
}

#sowBouton{
    background-color: #cccccc;
    border: solid 2px #e6e6e6;
    color: black;
    transition: 0.3s
}

#sowBouton:hover{
    background-color: rgb(43, 43, 43);
    border: solid 2px rgb(17, 207, 27);
    color: white;
}

.bouton{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    font-size: 20px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 3px;
    text-align: center;
}
  
.bouton:hover{
      background-color: rgb(17, 17, 17);
      border: solid 2px #e6e6e6;
      color: white;
}

.tema p{
    color: rgb(17, 17, 17);
}

.tema h1{
    color: rgb(17, 17, 17);
}

.tema ul{
    color: rgb(17, 17, 17);
}

.dessinslasr p{
    color: rgb(17, 17, 17);
}

.dessinslasr h1{
    color: rgb(17, 17, 17);
}

.dessinslasr ul{
    color: rgb(17, 17, 17);
}

.dessinslasr img{
    border-radius: 10px;
}

.sow img{
    border-radius: 50px;
}

.panelconver{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    align-items: center;
    height: 83vh;
}

.panelconver section{
    width: 60%;
}

.panelconver section h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    color: rgb(10, 10, 10);
    text-align: justify;
    font-weight: normal;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
form article{
    width: 100%;
}
  
form p{
    color: black; 
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    transition: opacity 0.3s;
    opacity: 1;
    text-align: left;
}
  
input[type*="e"]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100%;
    color: rgb(53, 53, 53);
    text-transform: uppercase;
    border: 2px solid #555555;
    transition: 0.3s;
    outline: none;
    font-style: italic;
}
  
input[type*="e"]:focus{
    border: 2px solid rgb(102, 158, 207);
    border-radius: 25px;
}

#contact{
    margin-right: 10%;
    margin-left: 10%;
}

#contact div{
    margin-top: 6%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#contact div article{
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    border: red hidden 1px;
}

#contact div article p{
    font-size: 25px;
    color: rgb(19, 19, 19);
    font-family: 'Montserrat', sans-serif;
    transition: 0.7s;
}

#contact div article:hover img{
    transform: rotate(-360deg);
}

#contact div article:hover p{
    color: #35567C;
}

#contact div article a{
    text-decoration: none;
}

#contact div article img{
    height: 5vw;
    transition: 0.7s;
}

footer{
    margin-top: 4%;
    padding: 1px;
    background: rgb(102, 158, 207);
}

footer p{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

@media (max-width: 1100px)
{   
    #headerprincipal h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 8vw;
    }
    
    #headerprincipal p{
        font-size: 3vw;
    }
}

@media (max-width: 700px)
{   
    #headerprincipal h1{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 11vw;
    }
    
    #headerprincipal p{
        font-size: 4.5vw;
    }
    
    nav section .material-icons{
        font-size: 8vw;
    }
    
    nav section:hover .material-icons{
        color: rgb(128, 179, 223);
        transform: scale(1);
        cursor: pointer;
    }
    
    nav section .textenav{
        display: none;
    }

    #presentation{
        background: rgb(253, 253, 253);
        padding: 1px;
    }
    
    #presentation p{
        font-size: 5vw;
        color: #35567C;
        text-align: justify;
        padding-top: 10vh;
        padding-bottom: 5vh;
        margin-right: 10%;
        margin-left: 10%;
    }

    .titre{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 9vw;
        color: rgb(39, 39, 39);
        margin-top: 0px;
    }

    .soustitre{
        font-family: 'B612 Mono', monospace;
        font-size: 6vw;
        color: rgb(28, 52, 78);
        margin-top: 30px;
    }

    #parcours{
        margin-right: 10%;
        margin-left: 10%;
        padding-bottom: 10%;
    }
    
    #parcours div{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #parcours section{
        width: 100%;
    }

    #parcours article{
        flex-direction: column;
        justify-content: center;
    
        margin-top: 5%;
    }
    
    #parcours article aside h2{
        font-size: 4vw;
      }
    
    #parcours article aside h1{
        font-size: 5vw;
    }
    
    #parcours article aside h3{
        font-size: 4vw;
    }
    
    #parcours article aside h4{
        font-size: 3.5vw;
    }
    
    #parcours article aside a{
        font-size: 3.5vw;
    }
    
    .asidetexte{
        width: 100%;
    }

    #comp{
        margin-right: 0%;
        margin-left: 0%;
    }
    
    #comp h3{
        font-size: 4vw;
    }
    
    #comp h4{
        font-size: 8vw;
        margin-left: 10px;
        padding-bottom: 45px;
        padding-top: 40px;
    }
    
    #comp aside{
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .soustitrecomp{
        margin-bottom: 60px;
    }
    
    #comp section{
        width: 100%;
        margin-bottom: 4%;
    }
    
    #comp section article p{
        font-size: 20px;
        color: rgb(39, 39, 39);
        font-family: 'Montserrat', sans-serif;
    }
    
    .comptimeline{
        margin-top: 7%;
    }

    .timeline:before{
        width: 90%;
    }

    .languestitre h4{
        margin-top: 0px;
    }

    .detail{        
        font-size: 3.2vw;
    }
    
    .lien{
        text-decoration: underline;
        color: rgb(31, 31, 31);
        transition: 0.3s;
    }
    
    .lien:hover{
        cursor: pointer;
        color: rgb(102, 158, 207);
    }
    
    #comp .down h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        margin-left: 10px;
        color: #35567C;
        margin-bottom: 0px;
        margin-top: -5px;
        font-weight: normal;
        font-style: italic;
        width: 100px;
    }
    
    #comp .up h5{
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        margin-left: 10px;
        color: #35567C;
        margin-bottom: 0px;
        margin-top: -110px;
        font-weight: normal;
        font-style: italic;
    }
    
    .complangues{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    
        border: blue hidden 1px;
        padding-bottom: 5%;
        padding-right: 0%;
        padding-left: 0%;
    }
    
    .complangues section{
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
    }
    
    .complangues article{
        width: 80%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
    
        border: red hidden 1px;
        margin-right: 0%;
        margin-left: 10%;
    }
    
    .complangues article img{
        height: 15vw;
    }
    
    .complangues article ul{
        font-family: 'Montserrat', sans-serif;
        color: rgb(39, 39, 39);
        align-self: flex-start;
        width: 63%;
    }

    .complangues article ul{
        font-size: 4vw;
    }

    /* POINT DE CONTROLE */

#projets{
    margin-right: 10%;
    margin-left: 10%;
    border: red hidden 1px;
    padding-bottom: 10%;
    margin-top: 3%;
}

#panel, #flip{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);
    margin-top: 0;
    margin-bottom: 0;
}

#flip:hover{
    cursor: pointer;
}

#panel{
    height: unset;
    display: none;
    background-image: url("medias/bg/temaillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#flip p{
    font-size: 5vw;
}

#panel2, #flip2{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip2:hover{
    cursor: pointer;
}

#flip2 p{
    font-size: 5vw;
}

#panel2{
    height: unset;
    display: none;
    background-image: url("medias/bg/StarLightCover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel3, #flip3{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip3:hover{
    cursor: pointer;
}

#flip3 p{
    font-size: 5vw;
}

#panel3{
    height: unset;
    display: none;
    background-image: url("medias/bg/lasrillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel4, #flip4{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip4:hover{
    cursor: pointer;
}

#flip4 p{
    font-size: 5vw;
}

#panel4{
    height: unset;
    display: none;
    background-image: url("medias/bg/lasrillu.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel5, #flip5{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip5:hover{
    cursor: pointer;
}

#flip5 p{
    font-size: 5vw;
}

#panel5{
    height: unset;
    display: none;
    background-image: url("medias/bg/sowBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#panel6, #flip6{
    padding: 0px;    
    background: rgb(115, 162, 202);
    border: solid 1px rgba(80, 125, 165, 0.397);

    margin-top: 0;
    margin-bottom: 0;
}

#flip6:hover{
    cursor: pointer;
}

#flip6 p{
    font-size: 5vw;
}

#panel6{
    height: unset;
    display: none;
    background-image: url("medias/bg/cppBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.panelGlobal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    flex-wrap: unset;

    border: red hidden 3px;
    height: unset;
}

.panelBoxTexte{
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.panelBoxTexte p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(223, 223, 223);
    text-align: justify;
}

.panelBoxDescrip{
    width: 100%;
}

.panelBoxDescrip p{
    width: 100%;
    font-size: 4vw;
}

.panelBoxListe{
    width: 100%;
    align-self: flex-start;
    font-size: 4vw;
}

.panelBoxListe h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    color: rgb(223, 223, 223);
}

.panelBoxListe ul{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vw;
    color: rgb(212, 212, 212);
    text-align: justify;
}

.listeob li{
    margin-bottom: 10px;
}

.listeLongue li{
    border: red hidden 1px;
    width: 45%;
	float: left;
}

/* */

.panelBoxAutre{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    flex-wrap: wrap;
    border: blue hidden 3px;
}

.panelBoxAutre section{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-bottom: 5%;  
}

.panelBoxImg{
    width: 100%;
}

.panelBoxImg img{
    height: 30vw;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.panelBoxBouton{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tema p{
    color: rgb(17, 17, 17);
}

.tema h1{
    color: rgb(17, 17, 17);
}

.tema ul{
    color: rgb(17, 17, 17);
}

#contact div{
    margin-top: 6%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin-right: 0%;
    margin-left: 0%;
}

#contact div article{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    border: red hidden 1px;
}

#contact div article p{
    font-size: 5vw;
    align-self: flex-start;
}

#contact div article:hover img{
    transform: rotate(-360deg);
}

#contact div article:hover p{
    color: #35567C;
}

#contact div article a{
    text-decoration: none;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

#contact div article img{
    height: 11vw;
    transition: 0.7s;
}

.panelconver{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    align-items: center;
    height: unset;
}

.panelconver section{
    width: 90%;
}

.panelconver section h1{
    font-size: 4vw;
}

form{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
form article{
    width: 100%;
}
  
form p{
    font-size: 4vw;
}

footer{
    margin-top: 6%;
    padding: 1px;
    background: rgb(102, 158, 207);
}

footer p{
    font-size: 3.5vw;
}

.bouton{
    font-size: 3.5vw;
}

.dessinslasr p{
    color: rgb(17, 17, 17);
}

.dessinslasr h1{
    color: rgb(17, 17, 17);
}

.dessinslasr ul{
    color: rgb(17, 17, 17);
}


#presentation div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 8%;
    margin-bottom: 7%;
    margin-top: 2%;
}

#presentation article{
    width: 90%;
    transform: scale(1.2);
    margin-bottom: 40px;
}

#presentation figure{
    transform: scale(1.3);
}

#presentation aside{
    width: 95%;
    margin-bottom: 3%;
    margin-top: 3%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start; 
}

#presentation section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}

#iconesPresentationNav{
    color: rgb(102, 158, 207);
    font-size: 10vw;
    transition: 0.3s;
    z-index: 3;
    text-align: center;
}

#presentation aside section:hover #iconesPresentationNav{
    color: rgb(102, 158, 207);
    transform: scale(1);
}

.textePresentationNav{
    font-size: 5vw;
    color: #35567C;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    margin-top: -3px;
    opacity: 1;
    text-decoration: none;
    position: initial;
}

#presentation aside section:hover .textePresentationNav{
    color: #35567C;
    opacity: 1;
    cursor: pointer;
}

#iconaside{
    font-size: 5vw;
 }
}

@media (max-width: 400px)
{   
    #comp .down h5{
        width: 50px;
    } 
}

::-webkit-scrollbar {
    width: 10px;
    background: #ffffff;
    border-left: 1px solid #ffffff;
  }

::-webkit-scrollbar-track {
    border-radius: 1px;
  }
  
::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 4px;
    border-left: 2px solid #ffffff;
  }
