body{
    margin: 0px;
    color: #F5EFED;
    background: rgb(253, 253, 253);
}

p{
    font-family: 'Montserrat', sans-serif;
}

.titre{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 60px;
    color: rgb(39, 39, 39);
    margin-top: 0px;
}

.soustitre{
    font-family: 'B612 Mono', monospace;
    font-size: 32px;
    color: rgb(73, 73, 73);
    margin-top: -40px;
}

#headerprincipal{
    width: 100%;
    height: 100vh;
    background-image: url("medias/images/EspaceSitePerso.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#headerprincipal div{
    padding-top: 40vh;
    margin-left: 5%;
}

#headerprincipal h1{
    margin-top: 0px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 85px;
    margin-left: -16px;
}

#headerprincipal p{
    margin-top: -35px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    color: rgb(99, 145, 185);
}

#presentation{
    background: rgb(253, 253, 253);
    padding: 1px;
}

#presentation p{
    font-size: 28px;
    color: #35567C;
    text-align: justify;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-right: 10%;
    margin-left: 10%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgb(253, 253, 253);
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    z-index: 100;

    position: sticky;
    top: 0;
    border: 1px red hidden;
    box-shadow: 1px 2px 5px 0 rgb(245, 245, 245);
}

nav section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav section .material-icons{
    color: rgb(102, 158, 207);
    font-size: 50px;
    transition: 0.3s;
    z-index: 3;
}

nav section:hover .material-icons{
    color: rgba(128, 179, 223, 0);
    transform: scale(0.1);
}

nav section #textenav{
    font-size: 23px;
    color: rgba(53, 86, 124, 0);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: 0.3s;
    position: absolute;
    margin-top: -3px;
    opacity: 0;
    text-decoration: none;
}

nav section:hover #textenav{
    color: #35567C;
    opacity: 1;
}

#parcours{
    margin-right: 10%;
    margin-left: 10%;
    border: red hidden 1px;
    padding-bottom: 10%;
}

#parcours div{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#parcours section{
    width: 45%;
}

#parcours article{
    border: hidden blue 1px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(39, 39, 39);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    margin-top: 5%;
}

#parcours article aside h2{
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }

#parcours article aside h1{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: #35567C;
}

#parcours article aside h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
}

#parcours article aside h4{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
    color: rgb(85, 85, 85);
}

#parcours article aside a{
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-style: italic;
    color: rgb(85, 85, 85);
}

#iconaside{
   z-index: 0;
   display: inline;
   color: #dc4437;
}

#parcours article aside img{
    height: 12vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.asidetexte{
    width: 70%;
    border: blue hidden 1px;
}

.asideimg{
    width: 30%;
    border: green hidden 1px;
    overflow: hidden;
}

#comp{
    margin-right: 10%;
    margin-left: 10%;
    border: red hidden 1px;
    padding-bottom: 10%;
}

#comp h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: -30px;
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: normal;
    font-style: italic;
    color: rgb(39, 39, 39);
}

#comp aside{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;
}

#comp section{
    width: 45%;
    margin-bottom: 8%;
}

#comp section article p{
    font-size: 20px;
    color: rgb(39, 39, 39);
    font-family: 'Montserrat', sans-serif;
}

.comptimeline{
    border: hidden green 1px;
    margin-top: 7%;
}

.timeline {
    height: 100px;
    line-height: 100px;
    position: relative;
    text-align: left;
    border: red hidden 1px;
    margin-left: -40px;

    transform: scale(1.05);
  }
  .timeline:before {
    content: '';
    position: absolute;
    width: 70%;
    top: 64%;
    left: 10%;
    height: 3px;
    margin-top: -13px;
    background: rgb(85, 85, 85);
  }
  .event {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 1%;
    margin-left: 11%;
    display: inline-block;
    background: rgb(253, 253, 253);
    vertical-align: middle;
    border-radius: 50%;
    border: solid rgb(85, 85, 85) 3px;
  }
  .detail {
    position: absolute;
    line-height: 1em;
    white-space: nowrap;
    left: 50%;
    
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(39, 39, 39);
    font-family: 'Montserrat', sans-serif;
  }
  .event:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -3px;
    width: 3px;
    background: rgb(128, 179, 223);
    height: 20px;
    z-index: -1;
  }
  .event.up:before {
    top: -100%;
  }
  .event.down:before {
    top: 100%;
  }
  .up .detail {
    top: -50px;
  }
  .down .detail {
    bottom: -50px;
  }

#projets{
    margin-right: 10%;
    margin-left: 10%;
    border: red hidden 1px;
    padding-bottom: 10%;
}